{%  extends 'base.html' %}
{%block title%}Create Post{%endblock%}
{%block content%}
{% if user.is_authenticated %}

    <h2> Create Post .... </h2>
    <div class='form-group'>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-success">Post</button>
        </form>
    </div>
    <script>
        
        document.getElementById('author').value = "{{user.id}}";
        
    </script>
{%else%}

<h1> Please Login or SignUp first to create a blog post </h1>

{%endif%}
{%endblock%}